table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

.button {
    background-color: #61C6F8;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}